<div class="about-rajat">
RAJAT SINGLA
<li class="inner-content">
  Software Engineer at Navyug Infosolutions Pvt. Ltd.
<br>
  rajatrs5054@gmail.com
</li>
<b>
  Experience
</b>
<li class="inner-content">
  Software Engineer at Navyug Infosolutions Pvt. Ltd.
  <br>

  April 2015 - Present (1 year 5 months)
  <br>
  Working on soldier2ndlife, a portal for veterans where they can collaborate and offer their services
</li>
<b>
  Education
</b>
<li class="inner-content">
  Guru Nanak Dev University
<br>
  Bachelor's degree, Electrical, Electronics and Communications Engineering, 2011 - 2015
<br>
  St xavier school -rampura phul
</li>
<b>
  Interests
</b>
<li class="inner-content">
  Interest in anything relating to mathematics(paradox: everything relates to it ).
</li>
<b>
  Skills & Expertise
</b>
<li class="inner-content">
Ruby on Rails,

OpenERP,

Python,

Ruby,

JavaScript,

Ember.js,

Solr,

Capistrano,

CSS,

Foundation Design,
</li>
<b>
Languages
</b>
<li class="inner-content">
English (Professional working proficiency)
<br>
Hindi (Full professional proficiency)
<br>
Punjabi (Native or bilingual proficiency)
</li>
</div>
